<div class="container-fluid">
  <div class="row">
    <h3>{{user}}</h3>
  </div>
  <div *ngFor="let match of matchesArray" class="row">
    <div *ngFor="let matchDetails of matchesDetails">
      <div *ngIf="matchDetails.gameId === match.gameId">
        <div *ngFor="let champion of championArray">
<!--          <p>Champion : {{champion.id}}</p>-->
<!--          <div *ngIf="match.champion === champion.key"></div>-->
        </div>
        <div *ngFor="let participant of matchDetails.participantIdentities">
          <div *ngIf="participant.player.summonerName === user">
            <div *ngFor="let participantDetails of matchDetails.participants">

<!--              Displaying stats of something else for the specific summoner-->
              <div *ngIf="participantDetails.participantId === participant.participantId">
                <p>{{participantDetails.stats.kills}} / {{participantDetails.stats.deaths}} / {{participantDetails.stats.assists}}</p>
                <div *ngIf="participantDetails.stats.win === true; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><p>VICTOIRE</p></ng-template>
                <ng-template #elseBlock><p>DEFAITE</p></ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
