.imgProfil {
  border-radius: 100%;
}

.blockImgProfil {
  margin: 10%;

}

.titleTab {
  font-size: 100%;
}

.nav-link {
  width: 100%;
}

li {
  width: 25%;
}


h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgba(255, 255, 255, 0.2);
}

a {
  background: #BF720C;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #BF720C;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(191, 114, 12, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #BF720C;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #BF720C;
}

.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs .tab-1,.tabs .tab-2, .tabs .tab-3, .tabs .tab-4{
  width: 25%;
}

.tabs .tab-1  [type="radio"] + div, .tabs .tab-2  [type="radio"] + div , .tabs .tab-3  [type="radio"] + div , .tabs .tab-4  [type="radio"] + div  {
  width: 400%;
  margin-left: 300%;
}

.tabs .tab-1  [type="radio"]:checked + div, .tabs .tab-2  [type="radio"]:checked + div, .tabs .tab-3  [type="radio"]:checked + div, .tabs .tab-4  [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-1:last-child  [type="radio"] + div, .tabs .tab-3:last-child  [type="radio"] + div, .tabs .tab-4:last-child  [type="radio"] + div {
  margin-left: 300%;
}

.tabs .tab-2:last-child  [type="radio"] + div{
  margin-left: 600%;
}

.tabs .tab-1:last-child [type="radio"]:checked + div, .tabs .tab-4:last-child [type="radio"]:checked + div {
  margin-left: -300%;
}

.tab1-2, .tab2-2, .tab3-2, .tab4-2  {
  /*text-align: center;*/
}

.tab3-2 {
  margin-left: -200% !important;
}

.tab2-2 {
  margin-left: -100% !important;
}


.tabs .tab-2:last-child [type="radio"]:checked + div{
  margin-left: -600%;
}

.parties {}

.victoire{
  color: #92E36C;
}

.defaite{
  color: #F44E4E;
}

.resume p{
}

.centerText {

}
