h1 {
  color: #BF720C;
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
}

body {
  background-color: #15202B;

}

input {
  margin-left: 10%;
  width: 80%
;  background-color: white !important;
}
