<body>

  <div class="container-fluid">
    <h1>Statistique</h1>
    <h4>TOP Champions choisis</h4>

    <ul class="list-unstyled">
      <li class="media">
        <img class="d-flex mr-3" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/1/15/Aatrox_OriginalSquare.png/revision/latest/scale-to-width-down/46?cb=20180612203801" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-2 font-weight-bold">Aatrox</h5>
          <!--STATISTIQUE-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
        </div>
      </li>
      <li class="media my-4">
        <img class="d-flex mr-3" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/2/2a/Ahri_OriginalSquare.png/revision/latest/scale-to-width-down/46?cb=20150402215212" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-2 font-weight-bold">Ahri</h5>
          <!--STATISTIQUE-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
        </div>
      </li>
      <li class="media">
        <img class="d-flex mr-3" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/6/6a/Akali_OriginalSquare.png/revision/latest/scale-to-width-down/46?cb=20180726202056" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-2 font-weight-bold">Akali</h5>
          <!--STATISTIQUE-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
        </div>
      </li>
    </ul>

  </div>

  <hr />

  <div class="container-fluid">
    <h1>Tournois</h1>

    <ul class="list-unstyled">
      <li class="media">
        <img class="d-flex mr-3" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/b/bb/Odyssey_Karma_Chroma_profileicon.png/revision/latest/scale-to-width-down/90?cb=20200930131016" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">Tournoi 1</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </li>
      <li class="media my-4">
        <img class="d-flex mr-3" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/d/d5/Odyssey_Kayn_Chroma_profileicon.png/revision/latest/scale-to-width-down/90?cb=20200930131017" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">Tournoi 2</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </li>
      <li class="media">
        <img class="d-flex mr-3" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/f/fc/Galaxy_Slayer_Zed_Chroma_profileicon.png/revision/latest/scale-to-width-down/90?cb=20200930131015" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">Tournoi 3</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
          congue felis in faucibus.
        </div>
      </li>
    </ul>

  </div>


</body>
